.films-container {
    border-radius: 7px;
   width: 340px;
     height: min-content;
   }
   
   .films-specs {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   .films-poster {
     width:100%;
     height: 500px;
     object-fit: cover;
     object-position: top;
   }
   
   .films-name {
     font-size: 24px;
     margin: 0;
   }
   
   .films-summary {
     margin-top: 0;
   }
   
   .films-rating {
     font-size: 18px;
   }
   
   .films-list-container {
     display: flex;
     gap: 16px;
     width: fit-content;
     flex-wrap: wrap;
     justify-content: space-around;
   }
   .sample22{
   display:flex;
   gap:6px;
   }
   .sample> button{
     font-size:x-small;
   }
   .add-movie-form{
     
     display: flex;
     flex-direction: column;
     
     max-width: 650px;
     margin: 0px auto;
     gap: 20px;
     }
     .color-movie-form{
     
       display: flex;
       flex-direction: column;
       max-width: 450px;
       margin: 0px auto ;
       gap: 16px;
       }
   
     body{
       font-family: Roboto,sans-serif;
       
     }
     .route-container{
       padding:30px;
       
     }
     .films-details-container{
       max-width: fit-content;
       padding:16px;
     }
     .color-button{
       height:40px;
       font-size: large;
       border-radius: 20px;
       cursor: pointer;
     }
     .color-button:hover{
       color: red;
       
     }